.nodisplay{
    display: none;
}
.display{
    display: block;
}
.notis{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 10em;
    overflow-y: scroll;
    width: 300px;
    margin-top: 20px;
    padding: 0px;
    border: 0px;
    z-index: 100;
    /* border: 2px solid red; */
}

.elem {
    background-color: gray;
    cursor: pointer;
    border: 1px solid black;
}

.elem p {
    font-size: 15px;
    color: white;
}
