.profilepic{
    border-radius: 1000px;
    height:200px ;
}

/* .sidebar,
.main{
    border:2px solid red;
    margin:2px;
    flex-grow: 1;
    height: 100vh;
}
.main{
    text-align: center;
    flex-grow: 3;
}
.sidebar div{
    border: 2px solid blue;
    margin-left:10px ;
}
.sidebar a{
    display: block;
    font-size: 19px;
    margin-bottom: 10px;
}
.sidebar{
    border-right: 3px solid black;
    display: flex;
    align-items: center;
    
} */