.sidenav{
    height:100vh;
    float:left;
    width:15%;
    border-right:2px solid #e0e0e0ce;
    z-index:5;
    position:fixed ;
    display:flex; 
    align-items:center;
    background-color:white;
    justify-content: center;
}
.sidenav A{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
    /* border: 2px solid red; */
}
.sidenav div{
    text-align: center;
    width: 100%;
    /* border: 2px solid blue; */
}
.sidenav a:hover{
    background-color:black;
    color:white;
    /* font-size: 22px ; */
    transition-delay: 0.5;
    cursor: pointer;
}
.categorybox{
    display: none;
    position: absolute;
    left: 77%;
    z-index: 100;
    background-color: gray;
}
.categorybox a{
    color:white;
    font-size: 16px;
    border: 2px solid black;
    margin: 0px;
}
.rankingbox{
    display: none;
    position: absolute;
    left: 77%;
    z-index: 100;
    background-color: gray;
}
.rankingbox a{
    color:white;
    font-size: 16px;
    border: 2px solid black;
    margin: 0px;
}