.rightnav {
    position: fixed;
    width: 220px;
    height: 100%;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color: #fff;
    border-left: 1px solid gray;
  }