.box {
    margin-bottom: 20px;
    /* border: 2px solid blue; */
    text-align: center;
}

.title {
    display: inline-block;
}

.quesdiv {
    /* border: 2px solid red; */
    margin: auto;
    height: 800px;
    width: 800px;
    text-align: center;
}

.selectedtags {
    display: flex;
    justify-content: flex-start;
}

.element2 {
    border-radius: 100px;
    background-color: gray;
    cursor: pointer;
    width: auto;
}

.element2 a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.trash {
    border-radius: 1000px;
}

.images-container {
    height: fit-content;
    min-height: 8em;
    background-color: rgb(228, 222, 222);
    border: 3px solid #22251a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.3em;
    flex-wrap: wrap;
}

.img-box {
    height: 8em;
    width: 8em;
    margin: 1em;
    border-radius: 10px;
}

.img {
    z-index: 1;
    height: 100%;
    width: auto;
    border-radius: 5px;
}

.img-ovr {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content auto max-content;
    grid-template-areas: ". . remo" ". . ." ". upload .";
    background-color: rgba(56, 50, 50, 0.452);
}

.remove-img-btn {
    /* z-index: 2; */
    /* position: relative;
    top: -35%;
    left: -20%; */
    color: white;
    font-size: 25px;
    border-radius: 100%;
    cursor: pointer;
    border-radius: 5px;
    grid-area: remo;
    align-self: center;
    justify-self: center;
    margin: 5px;
}

.submit-btn {
    grid-area: upload;
    margin-bottom: 0.7em;
}

.add-img {
    cursor: pointer;
}

.upload-img {
    background-color: aqua;
}

.button {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #8ebf42;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}