.searchbox {
    display: flex;
    flex-direction: column;
    max-height: 10em;
    overflow-y: scroll;
    width: 206px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index: 100;
}

.element {
    background-color: gray;
    cursor: pointer;
}

.element a {
    font-size: 20px;
    color: white;
}

.login-link {
    color: white;
}

.login-link:hover {
    color: white;
    text-decoration: none;
}